.CurrencySelector {
  position: relative;
}

.CurrencySelector__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  cursor: pointer;
}

.CurrencySelector.open .CurrencySelector__button {
  color: #e9b109;
}

.CurrencySelector.open .CurrencySelector__button svg {
  transform: rotate(180deg);
}

.CurrencySelector__button img {
  width: 16px;
  height: 16px;
}

/* HACK to fix USA flag size */
.CurrencySelector__button img[data-flag='USD'] {
  scale: 1.5;
}

.CurrencySelector__active-currency {
  width: 28px;
}

@media (max-width: 640px) {
  .Header__right .CurrencySelector__button {
    display: none;
  }

  .CurrencySelector__button {
    border-bottom: var(--mobile-nav-border);
    padding-left: 0;
  }

  .CurrencySelector__arrow {
    margin-left: auto;
  }
}

.CurrencySelector__options {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  top: 60px;
  left: 0;
  background-color: #142241;
  border-radius: 4px;
}

.CurrencySelector__option {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  min-width: 100px;
  padding: 8px;
  border-right: 2px solid transparent;
  cursor: pointer;
}

/* HACK to fix USA flag size */
[data-flag='USD'] img {
  margin: -4px;
}

.CurrencySelector__option.selected {
  border-color: #e9b109;
  background-color: #192849;
}

@media (max-width: 640px) {
  .CurrencySelector__options {
    padding: 0;
  }

  .CurrencySelector__options {
    position: static;
  }

  .CurrencySelector__option {
    margin-left: -16px;
    padding: 12px;
  }

  .CurrencySelector__option.selected {
    border-right: none;
    border-left: 2px solid #e9b109;
  }
}
