.Button {
  padding: 8px 24px;
  color: #142241;
  background-color: #e9b109;
  border-radius: 4px;
  font-weight: 600;
  /* font-size: 14px; */
  line-height: 16px;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #e9b109;
}

.Button:hover {
  background-color: #f1cc5f;
}

.Button.text {
  border: none;
  background-color: transparent;
  color: white;
}

.Button.text:hover {
  color: #e9b109;
  cursor: pointer;
}

.Button.outlined {
  color: white;
  background-color: transparent;
  border: 1px solid white;
}
