:root {
  --mobile-nav-border: 1px solid rgba(256, 256, 256, 0.2);
}

*,
html {
  box-sizing: border-box;
}

.Header {
  background-color: #142241;
  min-width: 100%;
  padding: 11px 70px;
  display: grid;
  grid-template-columns: min-content auto min-content;
  gap: 40px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  color: #fafafa;
}

.Header__burger-menu {
  display: none;
}

.Header__navigation__item {
  padding: 20px;
  white-space: nowrap;
}

.Header__navigation__item:hover {
  color: #e9b109;
  cursor: pointer;
}

.Header__logo {
  width: 110px;
  cursor: pointer;
}

.Header__navigation {
  display: flex;
  flex-direction: row;
}

.Header__button,
.Header__button__outlined {
  padding: 8px 24px;
  color: #142241;
  background-color: #e9b109;
  border-radius: 4px;
  cursor: pointer;
}

.Header__auth-buttons {
  display: flex;
  gap: 16px;
  padding-top: 16px;
}

.Header__button__outlined {
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

.Header__button:hover {
  background-color: #f1cc5f;
}

.Header__right {
  display: flex;
  align-items: center;
  gap: 4px;
  /* padding: 4px; */
}

@media (max-width: 640px) {
  .Header {
    padding: 16px;
    justify-content: space-between;
  }

  .Header__burger-menu {
    display: initial;
  }

  .Header__navigation {
    display: none;
  }

  .Header__right .Header__navigation__item {
    display: none;
  }
}

.Header__burger-menu__button,
.Header__burger-menu__close-button {
  cursor: pointer;
  padding: 8px;
  margin: -8px;
}

.Header__burger-menu__menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #142241;
}

.Header__burger-menu__menu {
  padding: 32px 16px;
}

.Header__mobile-navigation {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  border-top: var(--mobile-nav-border);
}

.Header__mobile-navigation .Header__navigation__item {
  padding: 12px;
  padding-left: 0;
  font-size: 16px;
  border-bottom: var(--mobile-nav-border);
}
